@use "../variables.scss" as *;

.aside {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 2.4rem;
  background: $color_12;
  transition: width 0.3s ease-in-out;

  @media only screen and (max-width: $pointMD) {
    position: fixed;
    z-index: 100;
    top: 7rem;
    left: 0;
    width: 100vw;
    height: calc(100vh - 7rem);
    min-height: -webkit-fill-available;
    display: none;
    overflow-y: scroll;

    &.active {
      display: block;
    }
  }

  .active & {
    width: 26rem;
    max-height: 80rem;
  }


  .active &__collapsed {
    display: none;
  }

  .active &__expanded {
    display: block;

    @media only screen and (max-width: $pointMD) {
      display: block;
      min-height: 100vh;
    }
  }

  &__collapse-btn {
    position: relative;
    min-height: 2.8rem;
    margin-right: auto;
    padding: 0.6rem 1.8rem 0.6rem 3.2rem;
    background-color: $colorMainBackground;
    font-size: 1.3rem;
    color: $colorWhite;

    @media only screen and (max-width: $pointMD) {
      background-color: transparent;
      font-size: 1.4rem;
      font-weight: 600;
      color: inherit;
    }
  }

  &__collapse-btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0.4rem;
    width: 2rem;
    height: 2rem;
    background-image: url('/resources/assets/svg/arrow-left.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(0, -50%);

    @media only screen and (max-width: $pointMD) {
      background-image: url('/resources/assets/svg/arrow-square-left.svg');
    }
  }

  &__collapsed,
  &__expanded {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__collapsed {
    justify-content: space-around;
  }

  &__expanded {
    position: relative;
    padding: 2rem;
    display: none;
    justify-content: flex-start;
  }

  &__clear-btn span {
    position: relative;
    margin-left: 0.8rem;
    display: none;
    font-size: 1.5rem;
    font-weight: 600;

    @media only screen and (max-width: $pointMD) {
      display: block;
    }
  }

  &__equipment-type-btn {
    position: relative;
    width: 100%;
    min-height: 4rem;
    padding: 1rem 4rem 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $colorWhite;
    border: none;
    font-size: 1.5rem;
    font-style: normal;
    line-height: 1.3;
    font-weight: 500;
    color: $color_5;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    &::after {
      position: absolute;
      right: 1rem;
      flex-shrink: 0;
      width: 2rem;
      height: 2rem;
      margin-left: 1.6rem;
      background-image: url("/resources/assets/svg/arrow-down.svg");
      background-size: cover;
      background-repeat: no-repeat;
      content: "";
    }

    &.active::after {
      transform: rotate(-90deg);
    }
  }

  &__label {
    font-weight: 600;
    font-size: 1.7rem;
  }

  &__rating-box {
    margin-bottom: 2rem;
  }

  &__toggles {
    border: none;

    @media only screen and (max-width: $pointMD) {
      padding-bottom: 10rem;
    }

    >*+* {
      margin-top: 2rem;
    }
  }


  &__toggle-box {
    min-height: 1.8rem;
  }

  &__toggle-label {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
  }

  &__btn {
    box-sizing: content-box;
    width: 3rem;
    height: 3rem;
    padding: 1rem;
  }

  &__btn--span {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $colorMainBackground;
    border-radius: 50%;
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 700;
    color: $colorWhite;
  }

  &__rating {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__rating img {
    width: 1.8rem;
    height: 1.8rem;
  }

  &__rating p {
    font-size: 3.6rem;
    font-weight: 700;
  }
}

#filter_area_button,
#filter_subway_button {
  text-align: left;
}


