@use "../variables.scss" as *;

.comments-list {
  &__header {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
  }

  &__container {
    max-height: 52rem;
    overflow-y: scroll;
  }

  &__filter {
    min-width: 178px;
  }
}

.select-menu {
  &__wrapper--comments {
    background-color: $colorSurfaceMuted;
    font-size: 1.3rem;
    font-weight: 600;
    color: $colorText;
  }

  &__list--comments {
    width: fit-content;
    white-space: nowrap;
  }

  &__item--comments {
    padding-right: 4rem;
  }
}
