@use "../variables.scss" as *;

.footer {
  padding: 3.8rem 0;
  background: $colorText;

  @media only screen and (max-width: $pointMD) {
    padding-top: 4.5rem;
    padding-bottom: 3.8rem;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

  }

  &__logo {
    &-text {
      font-size: 2rem;
      line-height: 1.2;
      font-weight: 700;
      color: $colorWhite;
      white-space: nowrap;
    }
  }

  &__link-btn {
    min-height: 4rem;
    padding: 1.2rem 1.8rem;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 600;

  }
}
