@use "../variables.scss" as *;

.footer {
  padding: 3.8rem 0;
  background: $colorText;

  @media only screen and (max-width: $pointMD) {
    padding-top: 4.5rem;
    padding-bottom: 3.8rem;
  }

  &__inner {
    position: relative;

    @media only screen and (max-width: $pointMD) {
      padding-bottom: 5rem;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__logo {
    @media only screen and (max-width: $pointMD) {
      margin-bottom: 4rem;
    }

    &-text {
      font-size: 2rem;
      line-height: 1.2;
      font-weight: 700;
      color: $colorWhite;
      white-space: nowrap;
    }
  }

  &__list {
    margin-left: 50px;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    column-gap: 2rem;

    @media only screen and (max-width: $pointMD) {
      margin: 0;
      grid-template-columns: 1fr;
      grid-gap: 3rem;
    }

    li {
      width: fit-content;
    }

    a:link,
    a:visited {
      font-family: "Inter", sans-serif;
      font-size: 1.3rem;
      line-height: 1;
      font-weight: 500;
      color: $colorWhite;
      padding: 1.1rem 1.4rem;
      background: $colorPrimarySoft;
      display: inline-block;

      @media only screen and (max-width: $pointMD) {
        font-size: 1.5rem;
        padding: 0;
        background-color: transparent;
      }
    }
  }



  &__link-btn {
    min-height: 4rem;
    padding: 1.2rem 1.8rem;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 600;

    @media only screen and (max-width: $pointMD) {
      position: absolute;
      top: 0;
      right: 0
    }
  }

  &__btn-top {
    position: absolute;
    padding: 0;
    width: 2rem;
    height: 2rem;
    border: none;
    background: transparent;
    cursor: pointer;
    left: 0;
    top: 50%;
    transform: translate(-300%, -50%) rotate(-180deg);

    @media only screen and (max-width: $pointMD) {
      top: unset;
      left: 0;
      bottom: 0;
      margin-bottom: 0;
      transform: translate(0) rotate(-180deg);
    }
  }
}
