@use "../variables.scss" as *;

.header {
  position: fixed;
  width: 100vw;
  background: $colorBackground;
  border-bottom: 1px solid $colorBorder;
  z-index: 200;

  &__top {
    padding: 2.5rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $pointMD) {
      padding: 2rem 2rem;
      justify-content: center;
    }
  }

  &__map-btn {
    width: 2rem;
    height: 1.7rem;
    display: none;

    @media only screen and (max-width: $pointMD) {
      display: block;
    }
  }

  &__logo {
    min-width: 170px;
    display: flex;
    align-items: center;

    &-text {
      font-size: 2rem;
      line-height: 1.2;
      font-weight: 700;
      color: $colorText;
      white-space: nowrap;
    }

    @media only screen and (max-width: $pointXL) {
      margin-right: auto;
    }

    @media only screen and (max-width: $pointMD) {
      max-width: 114px;
      min-width: 114px;
      margin: auto;

      &-text {
        font-size: 1.5rem;
      }
    }
  }

  &__top-text {
    padding-right: 1rem;
    font-size: 1.5rem;
    line-height: 1.6;
    text-align: center;
    margin-left: 2.4rem;

    @media only screen and (max-width: $pointXL) {
      display: none;
    }
  }

  &__top-link {

    &:link,
    &:visited {
      font-size: 1.5rem;
      line-height: 1.4rem;
      font-weight: 600;
      padding: 1.3rem 2.4rem 1.3rem 4rem;
      min-width: 25rem;
      white-space: nowrap;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 1.2rem;
        top: 50%;
        width: 2rem;
        height: 2rem;
        background-color: $colorWhite;
        mask: url("/resources/assets/svg/add-icon.svg") center / contain no-repeat;
        transform: translateY(-50%);
      }

    }

    @media only screen and (max-width: $pointMD) {
      display: none;
    }
  }
}

.header-city {
  position: relative;
  min-width: 21rem;

  .select-menu__current {
    border: 1px solid $colorBorder;
    border-radius: 0.8rem;
  }

  @media only screen and (max-width: $pointMD) {
    min-width: unset;
    min-height: unset;
    height: unset;
    width: unset;
    margin: 0;
    padding: 0;

    .select-menu__current {
      min-width: unset;
      min-height: unset;
      height: unset;
      width: unset;
      padding: 1rem;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: 0;
      border-radius: 0;
    }

    [data-chooser_current] {
      display: none;
    }
  }

  .select-menu__icon {
    background-image: url("/resources/assets/svg/location-icon.svg");

    @media only screen and (max-width: $pointMD) {
      position: relative;
      right: 0;
      margin: 0;
      padding: 1rem;
    }
  }

  .select-menu__icon.open {
    transform: unset;
  }

  .select-menu__list,
  .select-menu__item {
    min-width: max-content;
  }

  .select-menu__list {
    @media only screen and (max-width: $pointMD) {
      right: -50%;
    }
  }

  .select-menu__item {
    @media only screen and (max-width: $pointMD) {
      padding-right: 3rem;
    }
  }
}

.header-city-popup {
  position: absolute;
  top: 5em;
  left: 0;
  padding: 2em;
  padding-top: 3.5em;
  border: 1px solid $colorBorder;
  border-radius: 1em;
  background-color: $colorWhite;
  font-size: 1.2rem;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  z-index: 999;

  &::before {
    content: '';
    position: absolute;
    top: -13px;
    right: 50%;
    width: 2em;
    height: 2em;
  border-bottom: 1px solid $colorBorder;
  border-left: 1px solid $colorBorder;
    background-color: $colorWhite;
    transform: translateX(50%) rotate(135deg);
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  &__label {
    margin-bottom: 1em;
  }

  &__confirm {
    padding: 1rem 2rem;
  }

  &__confirm,
  &__label {
    font-size: 1.5em;
    white-space: nowrap;
  }
}
