@use "../variables.scss" as *;

.header {
  position: fixed;
  width: 100vw;
  background: $colorSecondaryBackground;
  z-index: 200;

  &__top {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-right: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $pointMD) {
      padding: 2rem 2rem;
      justify-content: center;
    }
  }

  &__menu-lines,
  &__map-btn {
    width: 2rem;
    height: 1.7rem;
  }

  &__menu-btn {
    padding: 1rem;
  }

  &__menu-lines {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      background: $colorMainBackground;
      border-radius: 2px;
      transition: all 0.2s ease;
      pointer-events: none;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(3) {
        bottom: 0;
      }
    }
  }

  .active__animation {
    .header__menu-lines>span {
      &:nth-child(1) {
        top: 50%;
        transform: translateY(-50%);
      }

      &:nth-child(3) {
        bottom: 50%;
        transform: translateY(50%);
      }
    }
  }

  .active__cross {
    .header__menu-lines>span {
      &:nth-child(1) {
        transform: translateY(-50%) rotate(45deg);
      }

      &:nth-child(3) {
        transform: translateY(50%) rotate(-45deg);
      }
    }
  }

  .active__middle {
    .header__menu-lines>span {
      &:nth-child(2) {
        display: none;
      }
    }
  }

  &__map-btn {
    display: none;

    @media only screen and (max-width: $pointMD) {
      display: block;
    }
  }

  &__logo {
    min-width: 170px;
    display: flex;
    align-items: center;

    &-text {
      font-size: 2rem;
      line-height: 1.2;
      font-weight: 700;
      color: $colorMainBackground;
      white-space: nowrap;
    }

    @media only screen and (max-width: $pointXL) {
      margin-right: auto;
    }

    @media only screen and (max-width: $pointMD) {
      max-width: 114px;
      min-width: 114px;
      margin: auto;

      &-text {
        font-size: 1.5rem;
      }
    }
  }

  &__top-text {
    padding-right: 1rem;
    font-size: 1.5rem;
    line-height: 1.6;
    text-align: center;
    margin-left: 2.4rem;

    @media only screen and (max-width: $pointXL) {
      display: none;
    }
  }

  &__top-link {

    &:link,
    &:visited {
      font-size: 1.5rem;
      line-height: 1.4rem;
      font-weight: 600;
      padding: 1.3rem 1.8rem 1.3rem 4rem;
      white-space: pre;
      max-width: 24rem;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 2rem;
        height: 2rem;
        background-image: url("/resources/assets/svg/add-icon.svg");
        background-size: contain;
        background-repeat: no-repeat;
        left: 1.2rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    @media only screen and (max-width: $pointMD) {
      display: none;
    }
  }
}

.header-city {
  position: relative;
  min-width: 21rem;

  @media only screen and (max-width: $pointMD) {
    min-width: unset;
    min-height: unset;
    height: unset;
    width: unset;
    margin: 0;
    padding: 0;

    .select-menu__current {
      min-width: unset;
      min-height: unset;
      height: unset;
      width: unset;
      padding: 1rem;
      justify-content: center;
      align-items: center;
      background-color: transparent;
    }

    [data-chooser_current] {
      display: none;
    }
  }

  .select-menu__icon {
    background-image: url("/resources/assets/svg/location-icon.svg");

    @media only screen and (max-width: $pointMD) {
      position: relative;
      right: 0;
      margin: 0;
      padding: 1rem;
    }
  }

  .select-menu__icon.open {
    transform: unset;
  }

  .select-menu__list,
  .select-menu__item {
    min-width: max-content;
  }

  .select-menu__list {
    @media only screen and (max-width: $pointMD) {
      right: -50%;
    }
  }

  .select-menu__item {
    @media only screen and (max-width: $pointMD) {
      padding-right: 3rem;
    }
  }
}

.header-city-popup {
  position: absolute;
  top: 5em;
  left: 0;
  padding: 2em;
  padding-top: 3.5em;
  border: 1px solid $color_4;
  border-radius: 1em;
  background-color: $colorWhite;
  font-size: 1.2rem;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  z-index: 999;

  &::before {
    content: '';
    position: absolute;
    top: -13px;
    right: 50%;
    width: 2em;
    height: 2em;
    border-bottom: 1px solid $color_4;
    border-left: 1px solid $color_4;
    background-color: $colorWhite;
    transform: translateX(50%) rotate(135deg);
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  &__label {
    margin-bottom: 1em;
  }

  &__confirm {
    padding: 1rem 2rem;
  }

  &__confirm,
  &__label {
    font-size: 1.5em;
    white-space: nowrap;
  }
}
