@use "../variables.scss" as *;

.service-center-list {
  position: relative;
  width: 100%;
  max-width: none;
  height: 100%;
  transition: height 0.5s;
  overflow-y: auto;

  & > li > .service-center-card {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: transparent;
  }

  & > li:not(:last-child) > .service-center-card {
    border-bottom-color: $colorBorder;
  }

  & > li > .service-center-card:hover {
    border-top-color: $colorPrimary;
    border-bottom-color: $colorPrimary;
  }

  @media only screen and (max-width: $pointMD) {
    height: 100%;
    padding-bottom: 0;
    overflow-y: auto;
  }

  &.active {
    display: none;
  }

  .active &-more {
    display: none;
  }

  &-more>span {
    transition: all 0.3s ease-in;

    .expanded>span::before {
      display: none;
    }

    .expanded>span {
      margin-right: 3rem;
    }
  }

  &__more {
    display: none;

    @media only screen and (max-width: $pointMD) {
      position: absolute;
      bottom: 0;
      left: 50%;
      min-height: 4rem;
      width: 100%;
      padding: 1.1rem 2.2rem;
      display: block;
      background: $colorPrimary;
      border: none;
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
      color: $colorWhite;
      transform: translate(-50%, 0);
      cursor: pointer;

      & span {
        position: relative;
      }

      & span::before {
        content: "";
        position: absolute;
        width: 2rem;
        height: 2rem;
        background-image: url("/resources/assets/svg/add-white.svg");
        background-size: contain;
        background-repeat: no-repeat;
        left: 0;
        top: 50%;
        transform: translate(-150%, -50%);
      }
    }
  }
}

