@use "../variables.scss" as *;

.similar-equipment-types-and-location {
  padding: 6rem 0;
  background: $colorPrimary;
  background-image: url("/public/assets/img/equipment-types-bg.webp");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: auto 100%;

  @media only screen and (max-width: $pointMD) {
    padding-top: 2.7rem;
    padding-bottom: 5.4rem;
    background-image: url('/resources/assets/img/equipment-types-bg-mobile.png');
    background-position: bottom right;
    background-size: 75%;
  }

  &__title {
    margin-bottom: 4.2rem;
    font-size: 3rem;
    letter-spacing: -0.05em;
    font-weight: 600;
    color: $colorWhite;

    @media only screen and (max-width: $pointMD) {
      margin-bottom: 2.5rem;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: $pointMD) {
      flex-direction: column;
    }
  }

}

