@use "../variables.scss" as *;

.similar-companies {
  position: relative;
  padding-block: 3.3rem;

  @media only screen and (max-width: $pointMD) {
    max-width: 100%;
  }

  &__title {
    margin-bottom: 5rem;
    font-size: 3rem;
    line-height: 1.4rem;
    letter-spacing: -1px;
    font-weight: 600;

    @media only screen and (max-width: $pointMD) {
      margin-bottom: 3.3rem;
      padding-left: 1rem;
      font-size: 2.7rem;
      line-height: 1.4rem;
    }
  }

  &__carousel {
    position: relative;
  }

  &__navigation {
    @media only screen and (max-width: $pointMD) {
      padding: 2rem 1rem;
      display: flex;
      justify-content: space-between;
    }
  }

  &-next,
  &-prev {
    @media only screen and (max-width: $pointMD) {
      position: relative;
      top: unset;
      flex-basis: 45%;
      transform: unset;
    }
  }

  &-next {
    right: -7%;

    @media only screen and (max-width: $pointMD) {
      right: unset;
    }
  }

  &-prev {
    left: -7%;

    @media only screen and (max-width: $pointMD) {
      left: unset;
    }
  }
}

.swiper-wrapper {
  &--similar-companies {
    align-items: stretch;
  }

  & .swiper-slide {
    &--similar-companies {
      max-width: 370px ;
      height: unset;
    }
  }
}



