@use "../variables.scss" as *;

.similar-location {
  flex-basis: 25%;
  flex-shrink: 0;

  & a:link,
  & a:visited {
    margin-bottom: 2rem;

    @media only screen and (max-width: $pointMD) {
      padding: 1rem 1.4rem;
      font-size: 1.5rem;
      margin-bottom: 0.2rem;
    }
  }

  & a:link {
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    align-self: start;
    font-size: 1.3rem;
    line-height: 1;
    font-weight: 500;
    color: inherit;
    padding: 1.1rem 1.4rem;
    background-color: $colorWhite;
    width: min-content;
  }

  & a:visited {
    color: inherit;
  }


  &__list {
    margin-bottom: 1.8rem;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    transition: height  0.5s, width 0.5s;

    @media only screen and (max-width: $pointMD) {
      grid-template-columns: 1fr;
      margin-bottom: 3rem;
    }

    >a:nth-child(n+5) {
      display: none;
    }

    &[data-expand-start-height]>a:nth-child(n+5) {
      display: inline-block;
    }
  }
}
