@use "../variables.scss" as *;

.btn {
  //MAIN SITE`S BUTTONS
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: none;
  cursor: pointer;
  border: none;
  outline: none;
  font-family: inherit;
  color: inherit;

  * {
    pointer-events: none;
  }

  &:disabled {
    cursor: auto;
  }

  &__disabled {
    display: none;
  }

  &--primary {
    background: $colorPrimary;
    color: $colorPrimaryContrast;
  }

  &--secondary {
    background: $colorSurface;
    color: $colorText;
    border: 1px solid $colorPrimary;
  }

  &--grey {
    background: $colorSurfaceMuted;
    color: $colorText;
  }

  &--close {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $pointMD) {
      width: 2rem;
      height: 2rem;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 2px;
      background-color: $colorBorder;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }


  // MORE BUTTONS
  &--more {
    min-height: 2rem;
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 600;
    padding-left: 3rem;

    @media only screen and (max-width: $pointMD) {
      margin-bottom: 4rem;
    }
  }

  &--more {
    &::after {
      content: "";
      position: absolute;
      width: 2rem;
      height: 2rem;
      background-image: url("/resources/assets/svg/arrow-square-down.svg");
      background-size: contain;
      background-repeat: no-repeat;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      transition: all 0.5s;
    }

    &.active::after {
      transform: translateY(-50%) rotate(180deg);
    }
  }
}

// NAVIGATION BUTTONS
.prev,
.next {
  max-width: fit-content;
  padding: 1rem 2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 32rem;
  background: $colorWhite;
  font-size: 1rem;
  color: $colorPrimary;
  cursor: pointer;
  user-select: none;

  * {
    pointer-events: none;
  }


  &--centered {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
}

.prev {
  &--centered {
    left: 0;
  }
}

.next {
  &--centered {
    right: 0;
  }
}
