@use "../variables.scss" as *;

.display-rating {
  display: flex;
  margin-bottom: 0.5rem;
  font-size: 10.5px;

  &__count {
    margin-right: 1rem;
    font-size: 3em;
    font-weight: 700;
    color: $colorText;

    @media only screen and (max-width: $pointMD) {
      margin-right: 1rem;
      font-size: 2.5em;
    }
  }
}

