@use "../variables.scss" as *;

.star-rating {
  $widthStep: 2.32em;
  $width: $widthStep * 5;
  $heght: 1.6em;
  $backgroundSize: 2.5em;

  $widthStep_MD: 2em;
  $width_MD: $widthStep_MD * 5;
  $heght_MD: 1.3em;
  $backgroundSize_MD: 2em;

  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;

  &.inactive {
    pointer-events: none;
  }

  &__caption {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }

  &__group {
    position: relative;
    width: $width;
    height: $heght;
    background-image: url('/resources/assets/svg/star-empty.svg');
    background-size: $backgroundSize;
    background-repeat: repeat-x;
    z-index: 0;

    @media only screen and (max-width: $pointMD) {
      width: $width_MD;
      height: $heght_MD;
      background-size: $backgroundSize_MD;
    }
  }

  &__radio {
    position: absolute;
    top: 0;
    left: 0;
    height: $heght;
    margin: 0;
    padding: 0;
    background-size: $backgroundSize;
    background-repeat: repeat-x;
    appearance: none;
    font-size: inherit;
    cursor: pointer;

    @media only screen and (max-width: $pointMD) {
      height: $heght_MD;
      background-size: $backgroundSize_MD;
    }
  }

  $z: 6;
  @for $i from 1 through 5 {
    &__radio:nth-of-type(#{$i}) {
      width: ($i * $widthStep);
      z-index: $z - $i;

      @media only screen and (max-width: $pointMD) {
        width: ($i * $widthStep_MD);
      }
    }
  }

  &__radio:checked,
  &__radio:hover {
    background-image: url('/resources/assets/svg/star-full.svg');
  }

  &__radio:hover ~ &__radio {
    background-image: none;
  }
}




