@use "../../../variables.scss" as *;

.heading {
  position: relative;
  padding: 5rem 0 4.2rem 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  @media only screen and (max-width: $pointMD) {
    padding: 4.5rem 0 3.4rem 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: 4.7rem;
    line-height: 5.4rem;
    font-weight: 600;

    @media only screen and (max-width: $pointMD) {
      font-size: 2.7rem;
      line-height: 3.4rem;
    }
  }

  &__actions {
    display: flex;
    gap: 1.6rem;
  }

  &__edit {
    min-width: auto;
  }

  &__btn {
    min-width: 38rem;
    min-height: 7.4rem;
    font-size: 2.4rem;
    font-weight: 600;

    @media only screen and (max-width: $pointMD) {
      display: none;
    }
  }
}
