@use "../../../variables.scss" as *;

.sell {
  position: relative;
  background-color: $colorWhite;

  &__container {
    padding: 5.8rem 6.5rem 4.8rem 6.5rem;
    background-color: $colorSecondaryBackground;

    @media only screen and (max-width: $pointMD) {
      padding: 3.2rem 0;
    }
  }

  &__title {
    margin-bottom: 5rem;
    font-size: 3.7rem;
    line-height: 1.4rem;
    font-weight: 600;
  }

  &-list {
    margin-bottom: 2rem;
    overflow: hidden;

    & > li:not(:last-child) {
      margin-bottom: 1rem;
    }

    >li:nth-child(n+6) {
      display: none;
    }

    &[data-expand-start-height]>li:nth-child(n+6) {
      display: block;
    }

    &__breadcrumbs {
      position: absolute;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;

      &.open {
        position: relative;
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }
    }

    &__title {
      margin-bottom: 1.8rem;
      font-size: 2.7rem;
      line-height: 1.4rem;
    }

    &__range {
      font-size: 2.4rem;
      line-height: 1.4rem;
    }

    &__back {
      padding-left: 3rem;
      font-size: 1.2rem;
      line-height: 1.4rem;
      font-weight: 600;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 2rem;
        height: 2rem;
        background-image: url(/resources/assets/svg/arrow-square-left.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  &__more {
    margin-left: 2rem;
  }
}

.accordion {
  &--sell {
    background-color: $colorWhite;
  }
}

.equipment-types-list {
  &--sell,
  &--point {
    position: absolute;
    padding-bottom: 4rem;
    background-color: $colorWhite;
    row-gap: 2rem;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    @media only screen and (max-width: $pointMD) {
      padding-bottom: 3rem;
      gap: 1.8rem;
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: $pointS) {
      grid-template-columns: repeat(1, 1fr);
    }

    &.open {
      position: relative;
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }

  &--sell &__item,
  &--point &__item {
    cursor: pointer;
  }
}
