
@use "../../variables.scss" as *;

.search {
  &--categories {
    width: 44rem;
    position: relative;
    background: $colorWhite;
    box-shadow: 0 5px 50px $colorBlackOpacity;
  }

  &--categories &__form {
    width: 100%;
    background: $colorWhite;
    border-bottom: 1px solid $colorGrey;
  }

  &--categories &__action {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    z-index: 3;
  }

  &--categories &__btn {
    width: 45%;
    padding: 1.5rem 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: $colorMainBackground;
  }

  &__icon--apply,
  &__icon--clear {
    position: relative;
    padding-left: 2.8rem;
  }

  &__icon--apply::before,
  &__icon--clear::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 2rem;
    height: 2rem;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__icon--apply::before {
    background-image: url('/resources/assets/svg/tick-square-icon.svg');
  }

  &__icon--clear::before {
    background-image: url('/resources/assets/svg/trash.svg');
  }

  &--categories &__btn--clear {
    background-color: $colorSecondaryBackground;
  }

  &--categories &__action.hidden {
    display: none;
  }
}

