@use "./components/button.scss";
@use "./components/select-menu.scss";
@use "./components/star-rating.scss";
@use "./components/checkbox-square.scss";
@use "./components/checkbox-switch.scss";

* {
  cursor: default;
  -webkit-tap-highlight-color: transparent;
}

a,
button {
  cursor: pointer;
}

a *,
button * {
  pointer-events: none;
}

input {
  cursor: text;
}
