@use "./variables.scss" as *;

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: $colorText;

  @media only screen and (max-width: $pointXL) {
    font-size: 56.25%;
  }
  @media only screen and (max-width: $pointLG) {
    font-size: 50%;
  }
  @media only screen and (max-width: $pointMD) {
    font-size: 62.5%;
  }
}


body {
  background-color: $colorBackground;
  overflow-x: hidden;
}

body.disabled {
  overflow: hidden;
}

html,
body {
  scroll-behavior: smooth;
}

main {
  padding-top: $mainSectionPaddingXXL;

  @media only screen and (max-width: $pointMD) {
    padding-top: $mainSectionPaddingMD;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  pointer-events: none;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

svg {
  pointer-events: none;
}

