$colorPrimary: #00275e;
$colorSecondary: #6d98ab;
$colorAccent: #feb729;

$colorNeutral: #a8b1b8;
$colorNeutralMuted: #c6ccd1;

$colorWhite: #fff;
$colorBlack: #000;

$colorBackground: $colorWhite;
$colorSurface: $colorWhite;

$colorSurfaceMuted: rgba($colorNeutral, 0.12);
$colorBorder: rgba($colorNeutral, 0.55);

$colorText: $colorBlack;
$colorTextMuted: rgba($colorBlack, 0.58);

$colorSecondarySoft: rgba($colorSecondary, 0.15);
$colorAccentSoft: rgba($colorAccent, 0.18);

$colorOverlay: rgba($colorBlack, 0.2);
$colorOverlayLight: rgba($colorBlack, 0.05);

$shadow: 0 5px 50px rgba(0, 0, 0, 0.15);

$pointXL: 75em;
$pointLG: 62.25em;
$pointMD: 56.25em;
$pointS: 37.5em;
$pointXS: 25em;
// $pointMD:
//
//
$mainSectionPaddingXXL: 10rem;
$mainSectionPaddingMD: 7rem;
