$colorPrimary: #4f87f6;
$colorPrimaryContrast: #111827;

$colorActive: #3e0d7d;
$colorDanger: #622625;

$colorWhite: #fff;
$colorBlack: #000;

$colorBackground: $colorWhite;
$colorSurface: $colorWhite;
$colorSurfaceMuted: #f7f8fa;

$colorBorder: #e4e7ec;

$colorText: #111827;
$colorTextMuted: #667085;

$colorNeutral: #98a2b3;

$colorPrimarySoft: rgba($colorPrimary, 0.12);
$colorActiveSoft: rgba($colorActive, 0.08);
$colorDangerSoft: rgba($colorDanger, 0.08);

$colorOverlay: rgba($colorBlack, 0.20);
$colorOverlayLight: rgba($colorBlack, 0.05);

$shadow: 0 5px 50px rgba(0, 0, 0, 0.15);

$pointXL: 75em;
$pointLG: 62.25em;
$pointMD: 56.25em;
$pointS: 37.5em;
$pointXS: 25em;
// $pointMD:
//
//
$mainSectionPaddingXXL: 10rem;
$mainSectionPaddingMD: 7rem;
