$colorGrey: #d9d9d9;
$colorGreyLight: #EDEDED;
$colorWhite: #fff;
$colorPageBackground: $colorWhite;
$colorLight: #fff;
$colorBlack: #000;
$colorBlackOpacity: rgba(0, 0, 0, 0.2);
$colorBlackHardOpacity: rgba(0, 0, 0, 0.05);
$colorMainBackground: #25313a;
$colorSecondaryBackground: $colorPageBackground;
$colorPrimary: #b4e040;
$colorDarkPrimary: #8ca93e;
$colorSecondary: #3d39fc;

$color_1: #e1f5fe;
$color_2: #0277bd;
$color_3: #f5f5f5;
$color_4: #ccc;
$color_5: #7d8797;
$color_6: #828282;
$color_7: #f6f6f6;
$color_8: #8f8f8f;
$color_9: #f2f2f2;
$color_10: #f5423e;
$color_11: #ff4b4820;
$color_12: #fff5ec;

$shadow: 0 5px 50px rgba(0, 0, 0, 0.15);

$pointXL: 75em;
$pointLG: 62.25em;
$pointMD: 56.25em;
$pointS: 37.5em;
$pointXS: 25em;
// $pointMD:
//
//
$mainSectionPaddingXXL: 10rem;
$mainSectionPaddingMD: 7rem;


