@use "../../variables.scss" as *;
@use "../../layouts/header.scss";
@use "../../layouts/equipment-types-list/default.scss" as equipmentTypesListDefault;
@use "../../layouts/menu.scss";
@use "../../layouts/search/default.scss" as searchDefault;
@use "../../layouts/search/equipment-types.scss";
@use "../../layouts/footer.scss";

body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-content {
  height: 100%;
  display: flex;
  align-items: center ;
  background-color: $colorPrimary;
}

.undefined_title {
  text-align: center;
  font-size: 10rem;
}
