@use "../../../variables.scss" as *;

.filter {
  &__container {
    position: relative;
    padding-left: 11rem;
    max-width: 100%;
    background-color: $colorGreyLight !important;

    @media only screen and (max-width: $pointMD) {
      padding-left: 0;
    }
  }

  &__wrapper {
    display: flex;

    &.active>* {
      transform: translateX(170px);
    }
  }

  &__map {
    flex-grow: 1;
    margin-left: 10px;
    position: relative;
    transition: all 0.5s;

    @media only screen and (max-width: $pointMD) {
      position: fixed;
      top: -100vh;
      left: 0;
      width: 100%;
      height: calc(100vh - 19rem);
      margin: 0;
      box-shadow: 0 5px 50px $shadow;
      pointer-events: none;
      transition: top .3s ease-in-out;
      z-index: 1;

      .map-open & {
        top: 7rem;
        pointer-events: all;
      }
    }
  }

  &__map::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20rem;
    background-image: url("/public/assets/img/map-obj.png");
    background-repeat: no-repeat;
    bottom: -1px;
  }

  &__inf {
    width: 100%;
    height: 100%;
    transition: all 0.5s;
  }

  &__text {
    width: 80%;
    padding: 5rem;
    padding-left: 11rem;
    font-size: 1.7rem;
    line-height: 2.4rem;
    font-weight: 600;

    @media only screen and (max-width: $pointMD) {
      width: 100%;
      margin-bottom: 2rem;
      padding: 4rem 2rem 0 2rem;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 7;
      text-overflow: ellipsis;
      overflow: hidden;

      &[data-expand-start-height] {
        -webkit-line-clamp: 15;
      }
    }
  }

  &__text-btn {
    margin-left: 2rem;
    margin-bottom: 3.8rem;
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 600;
    padding-left: 3rem;
    display: none;


    @media only screen and (max-width: $pointMD) {
      display: block;
    }
  }

  &__text-btn::before {
    content: "";
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-image: url("/resources/assets/svg/arrow-square-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    transition: all 0.5s;
  }

  &__text-btn.active::before {
    transform: translateY(-50%) rotate(-180deg);
  }
}

.search--filter {
  position: absolute;
  top: 0;
  left: 280px;
  height: 100%;
  display: none;
  z-index: 1;

  &.active {
    display: flex;
    flex-direction: column;
  }

  @media only screen and (max-width: $pointXL) {
    left: 269px;
  }

  @media only screen and (max-width: $pointLG) {
    left: 259px;
  }

  @media only screen and (max-width: $pointMD) {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 101;
  }
}

.equipment-types-list {
  &--filter {
    @media only screen and (max-width: $pointMD) {
      padding: 2rem;
    }
  }

  &--filter.equipment-types-list--brand {
    height: 594px;
    overflow-y: auto;

    @media only screen and (max-width: $pointXL) {
      height: 537px;
    }

    @media only screen and (max-width: $pointLG) {
      height: 515px;
    }

    @media only screen and (max-width: $pointMD) {
      height: 76vh;
    }
  }
}
